<header class="header">
    <div class="header__logo header__logo_position"><a href="#" class="logo__logo-href">{{>../picture/picture logo}}</a></div>

    <label class="header__menu-toggle" for="checkbox_toggle">
      {{>../picture/picture icon}}
    </label>

    <input type="checkbox" id="checkbox_toggle" class="menu-toggle__checkbox">

    <nav id="nav" class="header__nav">
      <ul class="nav__nav-list">{{>../nav/nav}}</ul>
    </nav>
      
  </header>
