<div class="device-wrap">
  <div class="tile v">
    <div class="title-tile-v">
      <p>
        {{title}}
      </p>
    </div>
    <video class="{{class}} video" muted="" autoplay="" preload=""></video>
    <div class="open">
      <label class="label-brightness">
        Яркость
        <input
          type="range"
          class="brightness"
          min="0"
          max="2"
          step="0.2"
          value="1"
         />

      </label>
      <label class="label-contrast">
        Контрастность
        <input
          type="range"
          class="contrast"
          min="0"
          max="3"
          step="0.2"
          value="1"
         />

      </label>
      <div class="volume-container">
        <div class="volume"></div>
        <svg class="chart" width="40" height="40" role="img">
          <rect width="0" height="8" class="bar-1"></rect>
          <rect width="0" height="8" y="10" class="bar-2"></rect>
          <rect width="0" height="8" y="20" class="bar-3"></rect>
          <rect width="0" height="8" y="30" class="bar-4"></rect>
        </svg>
      </div>
      <div class="close close-button close-button-hover">
        <p class="close close-title">
          Все камеры
        </p>
      </div>
    </div>
  </div>
</div>